{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2>
    Webmark V3 - Bookmark Manager
  </h2>

<section class="ui left aligned segment">
  <p>
    <b>Author:</b> WebLinks™                     <br>
    <b>Email:</b> Weblinks@email.com             <br>
    <b>Phone:</b> 051-0000000                    <br>
    <b>Address:</b> Cork Rd, Waterford, Ireland   
  </p>
  
  
  <iframe align="center" width="500" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=waterford&key=AIzaSyBorDTW53nwzVXujbOhY9RsYGZ8UHjSHpM" allowfullscreen></iframe>
  
</section>
</section>