{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Webmark Manager V3
  </h1>
  <p>
    A small app to let you Manager Bookmarks.
  </p>
</section>